<?xml version="1.0" encoding="UTF-8"?>
<Module>
<ModulePrefs title="app" scrolling="true" width="1000" height="600">
<Require feature="opensocial-0.8" />
<Require feature="views"/>
<Require feature="dynamic-height"/>
<Require feature="pubsub"/>
<OAuth>
      <Service>
        <Request url="http://192.168.103.122:8088/SIDGridPortal/request_token" />
        <Access url="http://192.168.103.122:8088/SIDGridPortal/access_token" />
        <Authorization url="http://192.168.103.122:8088/SIDGridPortal/authorize?oauth_callback=http://wwjmac.mcs.anl.gov:8080/gadgets/oauthcallback" />
      </Service>
    </OAuth>
    <Preload authz="oauth" href="http://192.168.103.122:8088/SIDGridPortal/JSON-RPC" />
</ModulePrefs>
<Content type="html">
<![CDATA[

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/cupertino/jquery-ui.css" rel="stylesheet" />


<style>
            .parameters {
                width:95%;
            }
            .field_input {
                width:95%;
            }
            label {
                display:block;
                width:95%;
                color:gray;
                margin: 5px 10px 0px;
                padding: 2px;
                font-size:62%;
            }
            .form_parameter {
                margin: 0px 10px;
                padding: 5px;
                width:95%;
            }
            .form_parameter.text {
                margin-bottom:12px;
                width:95%;
                padding: 5px;
                margin:0px 10px;
            }
</style>



<link href="http://192.168.103.122:8088/SIDGridPortal/css/form.css" type="text/css" rel="stylesheet">
<link href="http://192.168.103.122:8088/SIDGridPortal/css/mobyle.css" type="text/css" rel="stylesheet">
<link href="http://192.168.103.122:8088/SIDGridPortal/css/swfupload.css" type="text/css" rel="stylesheet">

<script type="text/javascript" src="http://192.168.103.122:8088/SIDGridPortal/js/jsonrpc.js"></script>
<script type="text/javascript" src="http://192.168.103.122:8088/SIDGridPortal/js/util.js"></script>
<script type="text/javascript" src="http://192.168.103.122:8088/SIDGridPortal/js/popup.js"></script>
<script type="text/javascript" src="http://192.168.103.122:8088/SIDGridPortal/swfupload/swfupload.js"></script>
<script type="text/javascript" src="http://192.168.103.122:8088/SIDGridPortal/js/swfupload.queue.js"></script>
<script type="text/javascript" src="http://192.168.103.122:8088/SIDGridPortal/js/fileprogress.js"></script>
<script type="text/javascript" src="http://192.168.103.122:8088/SIDGridPortal/js/handlers.js"></script>
<script>
var username;
var token = shindig.auth.getSecurityToken();
username = token.split(':')[0];

function sub_callback(sender, message){
        proteinName = message.split('/').pop().split('.').shift()
        if( proteinName.charAt(0) == 'T' && proteinName.length == 5 )
        {
            current_val = document.getElementById("oops_plist_data").value
            if( current_val )
                document.getElementById("oops_plist_data").value = proteinName + "\n" + document.getElementById("oops_plist_data").value 
            else
                document.getElementById("oops_plist_data").value = proteinName
        }
}

function getRadioValue(name)
{
    for (var i = 0; i < document.getElementsByName(name).length; i++)
    {
        if (document.getElementsByName(name)[i].checked)
        {
                return document.getElementsByName(name)[i].value;
        }
    }
}

function reset(){

}
function run(){
  //document.getElementById("seqinput").className = "loading";
  var params = new Object();
  params.javaClass = 'java.util.Hashtable';
  params.map = {}; 

       var a = document.getElementById("app_a");
       if (a != null && a.value != null && a.value != "" ){
        params.map['a'] = a.value;
       }
    
       var b = document.getElementById("app_b");
       if (b != null && b.value != null && b.value != "" ){
        params.map['b'] = b.value;
       }
    
       var longarg = document.getElementById("app_longarg");
       if (longarg != null && longarg.value != null && longarg.value != "" ){
        params.map['longarg'] = longarg.value;
       }
    
       var longarg2 = document.getElementById("app_longarg2");
       if (longarg2.checked) {
               params.map['longarg2'] = "1";
       } else {
               params.map['longarg2'] = "0";
       }
    
  
  //var jsonrpc = new JSONRpcClient("/SIDGridPortal/Old-JSONRPC");
  var jsonrpc = new JSONRpcClient("http://192.168.103.122:8088/SIDGridPortal/Old-JSONRPC");
  result = jsonrpc.WorkflowService.runWorkflow(username,"app", "", "",  params);
  if( result == null ) {
    alert("Error submitting workflow; administrators have been notified")
    return;
  }
  gadgets.pubsub.publish("wfhistory_input", "update");
  
}

</script>
<script>
  window.onload = function() {
      gadgets.pubsub.subscribe("fileselect", sub_callback);
     jQuery("input[type='button']").button();
     gadgets.window.adjustHeight();
  }
</script>

<div class="formHead">
<span class="formTitle">
<div style="padding:5px" class="ui-widget-header">app</div>
<h2></h2>
</span><span class="formCtrl"><input value="ask for help" style="display:none" type="button" id="helpdisplay_app"><input name="programName" type="hidden" value="app"></span>
</div><div style="float:left;width:70%" class="parameters">
        
<div class="parameter">
<div>
<label for="app_a" id="for_app_a" class=" mandatory">a</label><span class="field_input"><input type="text" id="app_a" name="app_a" class="ui-widget-content ui-corner-all form_parameter mandatory" value="1"></span>
</div>
</div>
        
<div class="parameter">
<div>
<label for="app_b" id="for_app_b" class=" mandatory">b</label><span class="field_input"><input type="text" id="app_b" name="app_b" class="ui-widget-content ui-corner-all form_parameter mandatory" value="2"></span>
</div>
</div>
        
<div class="parameter">
<div>
<label for="app_longarg" id="for_app_longarg" class=" mandatory">longarg</label><span class="field_input"><input type="text" id="app_longarg" name="app_longarg" class="ui-widget-content ui-corner-all form_parameter mandatory" value="'longarg'"></span>
</div>
</div>
        
<div class="parameter">
<div>
<label for="app_longarg2" id="for_app_longarg2" class=" mandatory">longarg2</label><span class="field_input"><input type="checkbox" id="app_longarg2" name="app_longarg2" class="ui-widget-content ui-corner-all form_parameter mandatory"></span>
</div>
</div>
    
</div><span style="float:left;width:15%" class="formCtrl"><input style="display:none" value="Reset" type="button" id="reset_app"><input onclick="run();" value="Submit" type="button" id="submit_app"></span>

]]>
</Content>
</Module>