<!DOCTYPE hibernate-configuration SYSTEM "http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Don't forget to copy your JDBC driver to the lib/ directory! -->

        <!-- Settings for a local HSQL (testing) database.
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="connection.url">jdbc:hsqldb:hsql://localhost</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"></property>
        -->

        <!-- Settings for a MySQL database. -->
        <property name="dialect">net.sf.hibernate.dialect.MySQLDialect</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost/buaa_bio_software</property>
        <property name="connection.username">root</property>
        <property name="connection.password">buaanlsde</property>

        <!-- Use the C3P0 connection pool. -->
        <property name="c3p0.min_size">3</property>
        <property name="c3p0.max_size">5</property>
        <property name="c3p0.timeout">1800</property>
        <property name="c3p0.idle_test_period">100</property>

        <!-- Use the Hibernate built-in pool for tests. -->
        <!-- property name="connection.pool_size">3</property -->

        <!-- Enable auto-commit mode for special cases (integration testing) -->
        <property name="connection.autocommit">true</property>

        <!-- Print SQL to stdout, format it nicely  -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="use_sql_comments">true</property>

        <!-- Drop and then re-create schema on SessionFactory build, for testing  -->
        <!-- property name="hbm2ddl.auto">create</property -->

        <!-- Use thread-bound persistence context propagation, scoped to the transaction -->
        <property name="current_session_context_class">thread</property>

        <!-- LSGW mapping files -->
        <mapping resource="org/uc/sidgrid/app/User.hbm.xml"/>
        <mapping resource="org/uc/sidgrid/app/Workflow.hbm.xml"/>
	 <mapping resource="org/uc/sidgrid/app/Application.hbm.xml"/>
	 <mapping resource="org/uc/sidgrid/app/AppScript.hbm.xml"/>
	 <mapping resource="org/uc/sidgrid/app/RunArgument.hbm.xml"/>
    </session-factory>

</hibernate-configuration>
